<!doctype html>
<html lang="en">

<head>
    <title>貴賓簽到頁面</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.0.2 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/templates.css">
    <link rel="shortcut icon" href="/static/favicon.ico" />
    <link rel="bookmark" href="/static/favicon.ico" />
</head>

<body>
    <div class="container-fluid">
        <div class="row mt-5 text-center">
            <h2>貴賓報到系統</h2>
        </div>
        <div class="row mt-3 mx-auto middle-board2">
            <h5 class="m-2 mt-3" style="color:#07a511;">請選擇報到人</h5>
            <div class="">
                <b class="mt-2 mb-2 ms-5 ps-2">報到人資料</b>
                <div class="col mb-3 ms-3 mt-1 text-center">
                    <input type="text" class="form-control mx-auto" style="max-width: 230px;" id="checkin_name_input"
                        name="name" placeholder="請輸入姓名" required>
                </div>
                <div id="predict" class="mt-2 overflow-auto text-center mb-3" style="display: none; height:150px">
                    <b class="ms-2 mt-1">您可能會想搜尋</b><br>
                    <div id="predict_result" class="text-center"></div>
                </div>
                <b class="mt-2 mb-1 ms-5 ps-2">報到選項</b>
                <div class="col mb-2 ms-3 mt-1">
                    <select class="form-select mx-auto select_style" style="width:230px" aria-label="Default select example"
                        id="checkin_mode">
                        <option selected value="checkin">報到</option>
                        <option value="cancel">取消報到</option>
                    </select>
                </div>
                <div class="row justify-content-center">
                    <input type="submit" id="checkin_btn" value="確認報到" class="submit2 mt-5">
                </div>

            </div>
            <!-- </div> -->
            <div class="d-flex mt-5 justify-content-center px-5 mb-3">
                <a class="h6 flex" onclick="location.href='/checkin'">貴賓報到</a>
                <a class="h6 flex mx-auto" onclick="location.href='/reward'">頒獎名單</a>
                <a class="h6 flex" onclick="location.href='/donate'">捐款頁面</a>
            </div>
        </div>
        <!-- <div class="d-flex justify-content-center" style="margin-top: -40px;"> -->

        <!-- </div> -->
        <!-- <div class="d-flex mt-5 justify-content-center">
                    <a class="h6" onclick="location.href='/signup_page'">註冊帳號</a>
                    <a class="h6 ms-4" onclick="location.href='/forget_page'">忘記密碼</a>
                </div> -->
        <!-- <div class="d-flex mt-5 justify-content-center">
                <a class="h6" onclick="alert('暫時無法使用此功能')">註冊帳號</a>
                <a class="h6 ms-4" onclick="alert('暫時無法使用此功能')">忘記密碼</a>
            </div> -->
    </div>
    </div>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
    <script src="/static/js/checkin.js"></script>
</body>

</html>